@charset "UTF-8" ;

/*共通部分*/
html{
    font-size: 100%;
}
body{

}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/*レイアウト*/
.align-center{
    text-align: center;
}

/*見出し*/
.page-title{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
/*ヘッダー*/
.page-header{
    padding-top: .5rem;
}
.logo{
    width: 100;
}
.main-nav{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a{
    color: black;
}
.main-nav a:hover{
    color: blue;
}
.about{
    max-width: 730px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;
    border: 2px solid;
}
.about p{
    margin-bottom: .5rem;
}
.m-title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
/*フッター*/
.copyright{
    background-color: black;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: white;
}


/*デスクトップ版*/
@media (min-whidth:800px){
    /*見出し*/
    .page-title{
        font-size: 5rem;
    }
    .heading-large{
        font-size: 4rem;
    }
    
}